In [2]:
import sys

sys.path.append('../')
import mustaching as ms


%load_ext autoreload
%autoreload 2

# Load transactions

In [3]:
# Invent some sample transactions.
transactions = ms.create_transactions('2017-01-01', '2017-12-31')

# Alternatively, upload your own transactions as say 'my_transactions.csv' 
#transactions = ms.read_transactions('my_transactions.csv')

transactions.head(10)

                 date  amount description       comment      category
0 2017-01-01 00:00:00      60     0xce416  0x5991a8e28d   programming
1 2017-01-01 12:00:00      83     0x7b95c  0xc5a39a54e7         reiki
2 2017-01-02 00:00:00      -3     0x9c31e  0xc67ba23abf       shelter
3 2017-01-02 12:00:00      -9     0x4456e  0xe397b5deac  soil testing
4 2017-01-03 00:00:00      86     0x225e2  0x8faf12309d     investing
5 2017-01-03 12:00:00      10     0x32c1f  0x3158c2442f         reiki
6 2017-01-04 00:00:00      99     0xf1c7d  0x1f4ad82f76     investing
7 2017-01-04 12:00:00      59     0x6137f  0xcb752074aa   programming
8 2017-01-05 00:00:00     -47     0xae161  0x61f31b4223    healthcare
9 2017-01-05 12:00:00      46     0xb2d1b  0x1a8b85e53f         reiki

# Summarize transactions and plot

In [4]:
# Summarize over entire period by category
s1 = ms.summarize(transactions, by_category=True)
s1

,date,category,income,expense,balance,savings_pc_for_period,spending_pc_for_period,spending_pc_for_period_and_category,income_pc_for_period_and_category,expense_pc_for_period_and_category,daily_avg,weekly_avg,monthly_avg,yearly_avg
0,2017-01-01,food,0,1896,8747,42.75,57.25,9.27,0.00,16.19,-5.19,-36.36,-158.00,-1896.0
1,2017-01-01,healthcare,0,1887,8747,42.75,57.25,9.22,0.00,16.11,-5.17,-36.19,-157.25,-1887.0
2,2017-01-01,investing,4849,0,8747,42.75,57.25,0.00,23.70,0.00,13.28,92.99,404.08,4849.0
3,2017-01-01,programming,10372,0,8747,42.75,57.25,0.00,50.69,0.00,28.42,198.92,864.33,10372.0
4,2017-01-01,reiki,5240,0,8747,42.75,57.25,0.00,25.61,0.00,14.36,100.49,436.67,5240.0
5,2017-01-01,shelter,0,4133,8747,42.75,57.25,20.20,0.00,35.28,-11.32,-79.26,-344.42,-4133.0
6,2017-01-01,soil testing,0,1700,8747,42.75,57.25,8.31,0.00,14.51,-4.66,-32.60,-141.67,-1700.0
7,2017-01-01,transport,0,2098,8747,42.75,57.25,10.25,0.00,17.91,-5.75,-40.24,-174.83,-2098.0

In [13]:
ms.plot(s1)

In [6]:
# Summarize by month start
s2 = ms.summarize(transactions, freq='Q', by_category=True)
s2

,date,category,income,expense,balance,savings_pc_for_period,spending_pc_for_period,spending_pc_for_period_and_category,income_pc_for_period_and_category,expense_pc_for_period_and_category
0,2016-12-31,food,0.0,537.0,2057.0,40.94,59.06,10.69,0.00,18.09
1,2016-12-31,healthcare,0.0,451.0,2057.0,40.94,59.06,8.98,0.00,15.20
2,2016-12-31,investing,1134.0,0.0,2057.0,40.94,59.06,0.00,22.57,0.00
3,2016-12-31,programming,2577.0,0.0,2057.0,40.94,59.06,0.00,51.28,0.00
4,2016-12-31,reiki,1314.0,0.0,2057.0,40.94,59.06,0.00,26.15,0.00
5,2016-12-31,shelter,0.0,1017.0,2057.0,40.94,59.06,20.24,0.00,34.27
6,2016-12-31,soil testing,0.0,300.0,2057.0,40.94,59.06,5.97,0.00,10.11
7,2016-12-31,transport,0.0,663.0,2057.0,40.94,59.06,13.19,0.00,22.34
8,2017-03-31,food,0.0,381.0,4175.0,45.39,54.61,8.17,0.00,14.95
9,2017-03-31,healthcare,0.0,373.0,4175.0,45.39,54.61,7.99,0.00,14.64
10,2017-03-31,investing,1028.0,0.0,4175.0,45.39,54.61,0.00,22.03,0.00
11,2017-03-31,programming,2413.0,0.0,4175.0,45.39,54.61,0.00,51.71,0.00
12,2017-03-31,reiki,1225.0,0.0,4175.0,45.39,54.61,0.00,26.25,0.00
13,2017-03-31,shelter,0.0,1090.0,4175.0,45.39,54.61,23.36,0.00,42.78
14,2017-03-31,soil testing,0.0,280.0,4175.0,45.39,54.61,6.00,0.00,10.99
15,2017-03-31,transport,0.0,424.0,4175.0,45.39,54.61,9.09,0.00,16.64
16,2017-06-30,food,0.0,580.0,6612.0,45.36,54.64,10.79,0.00,19.75
17,2017-06-30,healthcare,0.0,394.0,6612.0,45.36,54.64,7.33,0.00,13.42
18,2017-06-30,investing,1679.0,0.0,6612.0,45.36,54.64,0.00,31.25,0.00
19,2017-06-30,programming,2561.0,0.0,6612.0,45.36,54.64,0.00,47.66,0.00
20,2017-06-30,reiki,1133.0,0.0,6612.0,45.36,54.64,0.00,21.09,0.00
21,2017-06-30,shelter,0.0,913.0,6612.0,45.36,54.64,16.99,0.00,31.10
22,2017-06-30,soil testing,0.0,563.0,6612.0,45.36,54.64,10.48,0.00,19.18
23,2017-06-30,transport,0.0,486.0,6612.0,45.36,54.64,9.05,0.00,16.55
24,2017-09-30,food,0.0,398.0,8710.0,39.14,60.86,7.43,0.00,12.20
25,2017-09-30,healthcare,0.0,669.0,8710.0,39.14,60.86,12.48,0.00,20.51
26,2017-09-30,investing,971.0,0.0,8710.0,39.14,60.86,0.00,18.12,0.00
27,2017-09-30,programming,2821.0,0.0,8710.0,39.14,60.86,0.00,52.63,0.00
28,2017-09-30,reiki,1568.0,0.0,8710.0,39.14,60.86,0.00,29.25,0.00
29,2017-09-30,shelter,0.0,1113.0,8710.0,39.14,60.86,20.76,0.00,34.12
30,2017-09-30,soil testing,0.0,557.0,8710.0,39.14,60.86,10.39,0.00,17.08
31,2017-09-30,transport,0.0,525.0,8710.0,39.14,60.86,9.79,0.00,16.09
32,2017-12-31,food,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN
33,2017-12-31,healthcare,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN
34,2017-12-31,investing,37.0,0.0,8747.0,100.00,0.00,0.00,100.00,NaN
35,2017-12-31,programming,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN
36,2017-12-31,reiki,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN
37,2017-12-31,shelter,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN
38,2017-12-31,soil testing,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN
39,2017-12-31,transport,NaN,NaN,8747.0,100.00,0.00,NaN,NaN,NaN

In [7]:
import pandas as pd


df = pd.DataFrame(
    dict(
        week=[1, 1, 2, 2, 3, 3] * 2,
        layout=["classic", "classic", "modern", "modern"] * 3,
        response=["conversion", "exit"] * 6,
        cnt=[26, 23, 45, 34, 55, 44, 53, 27, 28, 25, 30, 34],
    )
)
df

    week   layout    response  cnt
0      1  classic  conversion   26
1      1  classic        exit   23
2      2   modern  conversion   45
3      2   modern        exit   34
4      3  classic  conversion   55
5      3  classic        exit   44
6      1   modern  conversion   53
7      1   modern        exit   27
8      2  classic  conversion   28
9      2  classic        exit   25
10     3   modern  conversion   30
11     3   modern        exit   34

In [8]:
def widen_summary(summary):
    return (
        summary
        .filter(["date", "category", "income", "expense"])
        .melt(
            id_vars=["date", "category"], 
            value_vars=["income", "expense"], 
            var_name="variable", 
            value_name="value",
        )
    )

widen_summary(s2)

         date      category variable   value
0  2016-12-31          food   income     0.0
1  2016-12-31    healthcare   income     0.0
2  2016-12-31     investing   income  1134.0
3  2016-12-31   programming   income  2577.0
4  2016-12-31         reiki   income  1314.0
..        ...           ...      ...     ...
75 2017-12-31   programming  expense     NaN
76 2017-12-31         reiki  expense     NaN
77 2017-12-31       shelter  expense     NaN
78 2017-12-31  soil testing  expense     NaN
79 2017-12-31     transport  expense     NaN

[80 rows x 4 columns]

In [12]:
ms.plot(s2)

In [ ]:
# Plotly does not yet support stacked-grouped bar charts out-of-the-box; 
# see https://github.com/plotly/plotly.js/issues/4914
# but here is a workaround:
# https://medium.com/@moritzkoerber/how-to-plot-a-grouped-stacked-bar-chart-in-plotly-df1685b83460

import plotly.graph_objects as pg


def pplot(summary, currency="$", width=None, height=None):
    """
    Given a transaction summary of the form output by :func:`summarize`,
    plot it using Python HighCharts.
    Include the given currency units (string; e.g. 'NZD') in the y-axis
    label.
    Override the default chart width and height, if desired.
    """
    f = summary.copy()
    dates = f["date"].map(lambda x: x.strftime("%Y-%m-%d")).unique()
    dates = sorted(dates.tolist())

    if currency is not None:
        y_text = "Money ({!s})".format(currency)
    else:
        currency = ""
        y_text = "Money"

    if "category" in f.columns:

        fig = pg.Figure()

        fig.update_layout(
            template="simple_white",
            xaxis=dict(title_text="Period"),
            yaxis=dict(title_text=y_text),
            barmode="stack",
        )

        # Create data series.
        # Split income and expense into two stacks, each split by category.
        for var_name in ["income", "expense"]:
            # Sort categories by greatest value to least
            g = (
                f.groupby("category")
                .sum()
                .reset_index()
                .sort_values(var_name, ascending=False)
            )
            categories = g.loc[g[var_name] > 0, "category"].unique()
            n = len(categories)
            colors = ms.get_colors(var_name, n)
            cond1 = f[var_name] > 0
            for category, color in zip(categories, colors):
                cond2 = (cond1 | f[var_name].isnull()) & (f["category"] == category)
                h = f[cond2].copy().pipe(widen_summary)
                name = f"{var_name.capitalize()} {category}"
                fig.add_trace(
                    pg.Bar(
                        x=[h.date.dt.strftime("%Y-%m-%d"), h.variable], 
                        y=h.value, 
                        name=name, 
                        marker_color=color,
                    ),
                )


    return fig    
    

pplot(s2)

In [ ]:
# Summarize by quarter start and by category
s3 = ms.summarize(transactions, freq='QS', by_category=True)
s3

In [ ]:
ms.plot(s3)